on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'
jobs:
  check-conflict:
    timeout-minutes: 4
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - run: npm install @actions/core
    - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      id: conflict_pull_requests
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const script = require(`${process.env.GITHUB_WORKSPACE}/cron.js`)
          console.log(script({github, context}))
    - uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      with:
        payload: "{\"text\":\"${{ steps.conflict_pull_requests.outputs.value }}\"}"
        webhook-type: webhook-trigger
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
